<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label>
        Email
        <input type="email" formControlName="email">
      </label>
    <label>
      First Name
      <span>*</span>
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name
      <span>*</span>
      <input type="text" formControlName="lastName">
    </label>
  
    <div formGroupName="address">
      <h3>Address</h3>
      <label>
        Street
        <input type="text" formControlName="street">
      </label>
  
      <label>
        City
        <input type="text" formControlName="city">
      </label>
    </div>

    <label>
        Confirmed
        <span>*</span>
        <input type="checkbox" formControlName="confirmed">
    </label>

    <label>
        Comment
        <textarea formControlName="comment"></textarea>
    </label>
  
    <button type="submit" [disabled]="!reactiveForm.valid">Submit</button>
  </form>
  
  <hr>
  
  <p>
    Form Value: {{ reactiveForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ reactiveForm.status }}
  </p>
  
  